---
---

@import "{{ site.theme }}";

div.toc {
  background: lightgrey;
  color: #1e6bb8;
  padding: 1em 1.5em;
  display: inline-block;
  white-space: nowrap;
  width: 100%;
  transition: top 0.6s ease-in-out;
  ul {
    list-style: square;
  }
}

@media screen and (min-width: 1300px) and (min-height: 550px) {
  div.toc {
    position: fixed;
    width: auto;
    height: 45%;
    left: 1.5em;
    top: 90%;
  }
  div.toc:hover {
    top: 60%;
  }
  section.main-content {
    padding: 2rem 8rem;
  }
}
