---
---

@import "{{ site.theme }}";

div.toc {
  background: lightgrey;
  color: #1e6bb8;
  padding: 1em 1.5em;
  display: inline-block;
  white-space: nowrap;
  width: 100%;
  transition: top 0.6s ease-in-out;
  ul {
    list-style: square;
  }
}

pre:not(.highlight) {
//  overflow: hidden;
//  height: 3em;
//  transition: height 1s linear;
  &:before {
    content: 'Hover to View Example';
  }
  code.language-hide {
    display: none;
  }
}

div:hover + pre:not(.highlight), pre:not(.highlight):hover {
//  height: auto;
  &:before {
    content: none;
  }
  code.language-hide {
    display: inherit;
  }
}

@media screen and (min-width: 1300px) and (min-height: 550px) {
  div.toc {
    position: fixed;
    width: auto;
    height: 60%;
    left: 1.5em;
    top: 90%;
  }
  div.toc:hover {
    top: 50%;
  }
  section.main-content {
    padding: 2rem 8rem;
  }
}
